@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  --customize-font: 'Quicksand', sans-serif;
}

/* :root {
  --font-archivo: "Archivo", sans-serif;
} */

body {
  font-family: var(--customize-font);
  font-weight: 400;
}



.zoomOut {
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoomOut:hover {
	-webkit-transform: scale(1);
	transform: scale(1);
}
/*  */
.swiper-button-next {
  width: 60px !important;
  height: 60px !important;
  padding: 10px !important;
  border-radius: 100%;
}
.swiper-button-prev {
  width: 60px !important;
  height: 60px !important;
  padding: 0px !important;
  border-radius: 100%;
}

.swiper-button-next::after {
  display: none;
}
.swiper-button-prev::after {
  display: none;
}
/* 
.mySwiper {
  width: 100%;
  height: 100%;
} */


/* .swiper-pagination-bullet {
  width: 14px !important;
  height: 14px !important;
  text-align: center;
  line-height: 14px;
  font-size: 12px;
  opacity: 1;
  background: #000000 !important;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  color: #fff;
  width: 40px !important;
  background: #e76625 !important;
  border-radius: 10px !important;
} */

/* table action */
.tableAction:nth-last-child(1) {
  display: flex;
  justify-content: end;
  align-items: center;
}



/* Container */
.fly-commonContainer {
  max-width: 1720px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}


@media screen and (max-width: 1280px) {
  .fly-commonContainer {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .fly-commonContainer {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 600px) {
  .fly-commonContainer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 400px) {}

@media screen and (max-width: 340px) {
  .fly-commonContainer {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}